main {
    background: rgb(245, 245, 245);
    padding: 16px;
  }
  
  .product-add {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
  }
  
  .product-form{
    width: 100%;
    max-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
    flex-direction: column;
  }
  
  .product-add_title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .product-add_input {
    max-width: 350px;
    padding: .8rem 3rem;
    outline: none;
    border: none;
  }
  
  .product-add_btn {
    width: 45%;
    height: 51px;
    background: #2a7ae4;
    line-height: 19px;
    outline: none;
    border: none;
    color: #ffffff; 
  }
  
  

